@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background-color: #40174C;
    color: var(--Main-text-color, #E9DCFD);
    font-family: Inter;
    position: relative;
}

h1 {
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48.5px;
}

h2 {
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48.5px;
}

ul {
    /* Font-related */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 48.5px;
    list-style: inside;
}

@media only screen and (max-width: 640px) {
    h1 {
        font-size: 34px;
        font-weight: 700;
        line-height: 48.5px;
    }

    h2 {
        font-size: 27px;
        font-weight: 700;
        line-height: 48.5px;
    }

    ul {
        font-size: 20px;
        font-weight: 500;
        line-height: 34px;
    }
}

a {
    text-decoration-line: underline;
}