@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* TODO This needs to be cleaned */

@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');

body {
    background-color: #40174C;
    color: var(--smaller-text-color, #E6DDF3);
    text-align: center;
    font-family: Inter;
    position: relative;
}


.header {
    color: var(--main-text-color, #D0C1E7);
    text-align: center;
    font-family: Cantata One;
}


h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0.05em;
}

.svg-banner {
    @apply absolute -top-10 -left-48 w-max h-full opacity-50 z-[-1];
}

.svg-banner img {
    @apply object-cover w-fit h-full;
}

@media (max-width: 768px) {
    .svg-banner {
        @apply hidden;
    }
}

.own_button {
    display: flex;
    width: 254px;
    height: 68px;
    padding: 3px 8px;
    justify-content: center;
    align-items: center;
    gap: 1px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--main-text-color, #D0C1E7);
    background: var(--background, #40174C);
}

.required::after {
    content: ' *';
    color: red;
}